<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Features 2</title>

  <style>
    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
    }

    main {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      padding: 10px;
    }

    .row {
      display: flex;
      flex-grow: 1;
    }

    .row>div {
      background-color: cadetblue;
      min-height: 75px;
      flex-grow: 1;
      margin: 10px;
    }
  </style>
</head>

<body>
  <main>
    <div class="row">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="row">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </main>
</body>

</html>