<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express Demo</title>
</head>
<body>
  <% if (fullName && color) { %>
    <h1>Hi, <%= fullName %>!</h1>

    <p>Thanks for filling out our survey. 😄</p>
  <% } else { %>
    <h1>Please fill out the <a href="/survey">survey!</a></h1>
  <% } %>
</body>
</html>